#welcome_header{
    text-align: center;
    color: white;
}

.navbar-brand, .nav-item{
font-family: Courier, monospace;
font-weight: normal;
font-stretch: semi-expanded;
color: white
}
body {background-image:url("BasketballCourt.jpg");
}
#Text{
    text-align: center;
    background-color: white;
}