{%extends "base.html"%}

{%block content%}

<div class="container">
    <br>
    <div class="welcome_header">
        <h2>Waddup Nerds!</h2>
        <h3>Where we look at the numbers instead of watching the games.</h3>
    </div>

    </br>
    This web application produces race results, driver and constructor rankings, up-to-date timetables, circuit
    layouts,
    and comparisons of Formula 1 seasons from 1950 to the present.

    Built with Python, Dash, and the Ergast Developer API (Motor Racing Data), this application provides users an
    in-depth look at the numbers behind Formula 1.

    NOTE: This app optimized for desktop use - A mobile layout will be released in the future.

    Questions, comments, or concerns? Feel free to reach out on LinkedIn and check out the source code here!

    Last updated: December 18th, 2020

    <div class='row p-4'>
        <div class='card mb-4 ml-auto mr-auto' style='width: 90%;' data-aos='slide-up'>
            <div class='card-body'>
                <div id='chart1'></div>
            </div>
        </div>
    </div>



    <script src=“https://cdn.plot.ly/plotly-latest.min.js”></script>
    <script>
        let graphData = JSON.parse('{{ graph1JSON | tojson | safe }}')
        Plotly.plot('chart1', graphData);

    </script>

    {%endblock content%}