{%extends "base.html"%}

{%block content%}

<div class="container">
    <br>
    <div class="welcome_header">
        <h2>Waddup Nerds!</h2>
        <h3>Where we look at the numbers instead of watching the games.</h3>
    </div>

    </br>
    This web application produces race results, driver and constructor rankings, up-to-date timetables, circuit
    layouts,
    and comparisons of Formula 1 seasons from 1950 to the present.

    Built with Python, Dash, and the Ergast Developer API (Motor Racing Data), this application provides users an
    in-depth look at the numbers behind Formula 1.

    NOTE: This app optimized for desktop use - A mobile layout will be released in the future.

    Questions, comments, or concerns? Feel free to reach out on LinkedIn and check out the source code here!

    Last updated: December 18th, 2020

</div>

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <h3>Teams</h3>
            <table class="table table-dark table-striped">
                <tr>
                    {% for headings in teams_headings %}
                    <th scope="col">{{ headings }}</th>
                    {% endfor %}
                </tr>
                {% for row in teams %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endblock content%}